/* Base */
html{
  box-sizing: border-box;
  font-size: 62.5%;
  min-height: 100%;
}
*, *::before, *::after{
  box-sizing: inherit;
}
body{
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  line-height: 1.3;
  max-width: 100vw;
  margin: auto;
}
img,video,svg{
  max-width: 100%;
}
h1,h2,h3,h4,h5,h6,p,span{
  margin: 0;
}
a{
  text-decoration: none;
}

/* Tools */
.container{
  max-width: 1240px;
  margin: 0 auto;
}
.hide{
  display: none;
}

.selectOn{
  border-bottom: 2px solid #FFD980!important;
  color: #262626!important;
  font-weight: 400!important;
  font-size: 1.6rem!important;
}
.sizeOn{
  background-color: #FFD980!important;
  color: #262626!important;
}



@keyframes small{
  from{
    transform: scale(1) translateX(-500px) rotateZ(0deg);
  }
  to{
    transform: scale(1) translateX(0) rotateZ(360deg);
  }
}

@keyframes medium{
  from{
    transform: scale(1) translateX(-500px) rotateZ(0deg);
  }
  to{
    transform: scale(1.1) translateX(0) rotateZ(360deg);
  }
}

@keyframes large{
  from{
    transform: scale(1) translateX(-500px) rotateZ(0deg);
  }
  to{
    transform: scale(1.2) translateX(0) rotateZ(360deg);
  }
}

.modalActive{
  transform: translate(-50%,-50%) scale(1)!important;
}
.overlayActive{
  opacity: 1!important;
  pointer-events: all!important;
}

.menuActive{
  left: 0!important;
}

.paymentOn{
  background-color: #C1DFFB!important;
  border: 1px solid #3195F0!important;
}

#moto{
  animation: entry 1s linear;
}
@keyframes entry{
  from{
    transform: translateX(-800px);
  }to{
    transform: translateX(0);
  }
}

#rightWheel{
  animation: spin 1s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}
#leftWheel{
  animation: spin 1s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}
@keyframes spin{
  from{
    transform: rotateZ(-360deg);
  }to{
    transform: rotateZ(0);
  }
}

#back{
  animation: back 1.5s linear infinite;
}
@keyframes back{
  from{
    transform: translateX(700px);
  }to{
    transform: translateX(-700px);
  }
}

#receipt.animate{
  animation: receipt 1s linear;
}
@keyframes receipt{
  from{
    transform: translateY(300px);
  }to{
    transform: translateY(0);
  }
}

#mouse.animate{
  animation: mouse 1.5s linear;
}
@keyframes mouse{
  from{
    transform: translateX(300px);
  }to{
    transform: translateX(0);
  }
}

#card.animate{
  animation: card 2s linear;
}
@keyframes card{
  from{
    transform: translateX(-300px);
  }to{
    transform: translateX(0);
  }
}



