/* Base */
html{
  box-sizing: border-box;
  font-size: 62.5%;
  min-height: 100%;
}
*, *::before, *::after{
  box-sizing: inherit;
}
body{
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  line-height: 1.3;
  max-width: 100vw;
  margin: auto;
}
img,video{
  max-width: 100%;
}
h1,h2,h3,h4,h5,h6,p,span{
  margin: 0;
}
a{
  text-decoration: none;
}

/* Tools */
.container{
  max-width: 1240px;
  margin: 0 auto;
}
.hide{
  display: none;
}

.selectOn{
  border-bottom: 2px solid #FFD980!important;
  color: #262626!important;
  font-weight: 400!important;
  font-size: 1.6rem!important;
}
.sizeOn{
  background-color: #FFD980!important;
  color: #262626!important;
}

@keyframes small{
  from{
    transform: scale(1);
  }to{
    transform: scale(1);
  }
}

@keyframes medium{
  from{
    transform: scale(1);
  }to{
    transform: scale(1.1);
  }
}

@keyframes large{
  from{
    transform: scale(1.1);
  }to{
    transform: scale(1.2);
  }
}

.small{
  transform: scale(1);
  transition: 1s ease linear;
  
}
.medium{
  transform: scale(1.1);
  transition: 1s ease linear;
}
.large{
  transform: scale(1.2);
  transition: 1s ease linear;
}

/* .flip{
  animation: flip 0.7s ease;
  animation-fill-mode: forwards;
}
@keyframes flip{
  from{
    transform: rotateY(0)
  }to{
    transform: rotateY(-360deg);
  }
} */

